<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="DataService" type="Snow.Web.DataProvider.DataServiceSection, Snow.Web.DataProvider" allowDefinition="MachineToApplication" restartOnExternalChanges="true"/>
  </configSections>
  <system.web>
    <compilation debug="false" targetFramework="4.0" />
  </system.web>

  <DataService defaultProvider="mssqlDataProvider">
    <providers>
      <add name="mssqlDataProvider" type="Snow.Web.DataProvider.MSSQL.DataProviderMSSQL" connectionStringName="mssqlConnection" assembly="Snow.Web.DataProvider.MSSQL.dll"/>
      <add name="mysqlDataProvider" type="Snow.Web.DataProvider.MYSQL.DataProviderMYSQL" connectionStringName="mysqlConnection" assembly="Snow.Web.DataProvider.MYSQL.dll"/>
    </providers>
  </DataService>
  
  <connectionStrings>
    <add name="mssqlConnection" connectionString="user id=sa;password=raym;Persist Security Info=False;Database=Testing_Merch_2_4;Server=GARY-DEV" />
    <add name="mysqlConnection" connectionString="User ID=root;Password=123456;Database='test';Data Source=GARY-DEV;CharSet=utf8;" />
  </connectionStrings>
  
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="RetailServiceWebHttpBindingConfig"  transferMode="Streamed"
              openTimeout="00:30:00"
              receiveTimeout="00:30:00"
              sendTimeout="00:30:00"
              maxBufferPoolSize="2147483647"
              maxBufferSize="2147483647"
              maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="329"
                        maxStringContentLength="8192"
                        maxArrayLength="20971520"
                        maxBytesPerRead="4096"
                        maxNameTableCharCount="163840" />
        </binding>
      </webHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="RetailServiceBehavior" name="Snow.Web.RetailService.RetailServiceImpl">
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="RetailServiceWebHttpBindingConfig" bindingNamespace="http://snow.org/retailservice/2014/02/27"
          contract="Snow.Web.RetailService.IRetailService" behaviorConfiguration="JsonBehavior" />
      </service>
    </services>
    <extensions>
      <behaviorExtensions>
        <add name="JsonWebHttp" type="Snow.Web.RetailServiceLib.REST.JsonWebHttpBehaviorElement, Snow.Web.RetailServiceLib.REST" />
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <serviceBehaviors>
        <behavior name="RetailServiceBehavior">
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceAuthorization principalPermissionMode="None" roleProviderName="" />
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="false" />
          <serviceCredentials>
            <clientCertificate>
              <authentication certificateValidationMode="None" includeWindowsGroups="false" />
            </clientCertificate>
            <userNameAuthentication userNamePasswordValidationMode="MembershipProvider" includeWindowsGroups="false" membershipProviderName="AspNetSqlMembershipProvider" />
            <windowsAuthentication includeWindowsGroups="false" allowAnonymousLogons="true" />
          </serviceCredentials>
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp/>
        </behavior>
        <behavior name="JsonBehavior">
          <JsonWebHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
</configuration>
