<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
  </configSections>
  <system.web>
    <compilation debug="false" targetFramework="4.0" />
  </system.web>
  <dataConfiguration defaultDatabase="dbConnection" />
  <connectionStrings>
    <!--<add name="dbConnection" connectionString="user id=sa;password=raym;Persist Security Info=False;Database=Testing_Merch_2_4;Server=GARY-DEV" />-->
    <add name="dbConnection" connectionString="user id=raym;password=raym;Persist Security Info=False;Database=SJK_Barney;Server=mosaic.raymark.net\SQL2008R2" />
    <!--<add name="dbConnection" connectionString="user id=tismqnugmutztutc;password=VfmvMBQnpHbBVLzSYfWLvw3rWuTmnZkt6xtSta6sMEneDvBZwbeMahSym3FrQCaw;Persist Security Info=False;Database=dbd93100b38032437aba15a4820083aae6;Server=d93100b3-8032-437a-ba15-a4820083aae6.sqlserver.sequelizer.com" />-->
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="RetailServiceWebHttpBindingConfig"  transferMode="Streamed"
              openTimeout="00:30:00"
              receiveTimeout="00:30:00"
              sendTimeout="00:30:00"
              maxBufferPoolSize="2147483647"
              maxBufferSize="2147483647"
              maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="329"
                        maxStringContentLength="8192"
                        maxArrayLength="20971520"
                        maxBytesPerRead="4096"
                        maxNameTableCharCount="163840" />
        </binding>
      </webHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="RetailServiceBehavior" name="Snow.Web.RetailService.RetailServiceImpl">
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="RetailServiceWebHttpBindingConfig" bindingNamespace="http://snow.org/retailservice/2014/02/27"
          contract="Snow.Web.RetailService.IRetailService" behaviorConfiguration="JsonBehavior" />
      </service>
    </services>
    <extensions>
      <behaviorExtensions>
        <add name="JsonWebHttp" type="Snow.Web.RetailServiceLib.REST.JsonWebHttpBehaviorElement, Snow.Web.RetailServiceLib.REST" />
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <serviceBehaviors>
        <behavior name="RetailServiceBehavior">
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceAuthorization principalPermissionMode="None" roleProviderName="" />
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="false" />
          <serviceCredentials>
            <clientCertificate>
              <authentication certificateValidationMode="None" includeWindowsGroups="false" />
            </clientCertificate>
            <userNameAuthentication userNamePasswordValidationMode="MembershipProvider" includeWindowsGroups="false" membershipProviderName="AspNetSqlMembershipProvider" />
            <windowsAuthentication includeWindowsGroups="false" allowAnonymousLogons="true" />
          </serviceCredentials>
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp/>
        </behavior>
        <behavior name="JsonBehavior">
          <JsonWebHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
</configuration>
